body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #133047, #1b6d1e);
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ToDoList {
    margin: 1%;
    width: 35vw;
    min-height: 70vh;
    text-align: center;
    border-radius: 100px;
    background-color: #d3d3d3;
    padding: 1%;
}

.title {
    font-size: 150%;
    color: rgb(38, 38, 150);
    font-weight: bold;
    margin-bottom: 20px;
}

.add {
    width: 100%;
    border-radius: 25px;
    background-color: #f0f4f7;
    overflow: hidden;
    padding: 0;
    display: flex;
}

.add input {
    height: 45px;
    width: 75%;
    border: none;
    background-color: inherit;
    color: #333333;
    font-size: large;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

.add input:focus {
    outline: none;
}

.addButton {
    width: 25%;
    height: 45px;
    background: #61a5c2;

    font-size: large;
    color: white;

    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.toDoThings {
    background-color: white;
    color: #000000;
}

.toDoItem {
    display: flex;
    height: 45px;
    width: 100%;
    background-color: inherit;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.toDoItem button {
    margin: 1%;
    width: 12%;
    border-radius: 25px;
}

.toDoItemText {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: black;
    margin-left: 5%;
}

.remove {
    border: none;
    background-color: inherit;
}

.remove i:hover {
    color: red
}

.quote {
    font-size: 145%;
    color: whitesmoke;
}

@media(max-width: 768px) {
    .quote {
        display: none;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 120%;
    }

    .ToDoList {
        width: 70vw;
        height: 90vh;
    }

    .add input {
        height: 40px;
    }

}