body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #133047, #1b6d1e);
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ToDoList {
    margin: 1%;
    color: aqua;
    width: 35vw;
    min-height: 70vh; 
    text-align: center;
    border-radius: 100px;
    background-color: antiquewhite;
    padding: 1%;
}

.title {
    font-size: 150%;
    color: rgb(38, 38, 150);
    font-weight: bold;
    margin-bottom: 20px;
}

.add input {
    height: 45px;
    width: 70%;
    border: 0;
    border-bottom: 1px dashed pink;
    background-color: inherit;
    color: #000000;
    font-size: large;
    font-weight: bold;
}
.add button{
    height: 45px;
    font-size: large;
    text-align: center;
    width: 70px;
    border-radius: 25px;
    background: rgb(180, 176, 176);
}
.toDoThings{
    background-color: white;
    color: #000000;
}

.toDoItem{
    display: flex;
    height: 45px;
    width: 100%;
    background-color: inherit;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.toDoItem button{
    margin: 1%;
    width: 12%;
    border-radius: 25px;
}
.toDoItemText{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: black;
    margin-left: 5%;
}

.remove{
    border: none;
    background-color: inherit;
}

.remove i:hover{
    color: red
}

@media (max-width: 480px) {
    .ToDoList{
        width: 70vw;
        height: 90vh;
    }
}